@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat:900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');


$radical-red:#FF355E;
$wild-watermelon:#FD5B78;
$outrageous-orange:#FF6037;
$atomic-tangerine:#FF9966;
$neon-carro:#FF9933;
$sunglow:	#FFCC33;
$laser-lemon:	#FFFF66;
$electric-lime:#CCFF00;
$screamin-green:#66FF66;
$magic-mint:#AAF0D1;
$blizzard-blue:#50BFE6;
$shocking-pink:#FF6EFF;
$razzle-dazzle-rose:#EE34D2;
$hot-magenta:#FF00CC;

html {
  max-width: 100%;
  overflow-x:hidden;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  color: #333;
  background-color: #FFF;
  overflow-x:hidden;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  /* min-height: 100vh; /* Don't do this.
  Instead set display:flex; flex-direction:column; on body, then flex:1 here. */
  flex: 1;
  display: flex;
  flex-direction: column;
}

.transition-none * {
  -webkit-transition: none !important;
      -moz-transition: none !important;
      -ms-transition: none !important;
        -o-transition: none !important;
          transition: none !important;
}

p {
  margin-bottom: 25px;
  line-height: 1.75;
}

figure {
  display:block;
  margin: 0;
  padding: 0;
}

pre {
  width: 90%;
  margin: 0 auto 50px auto;
  font-size: 14px;
  color: #333;
  background-color: rgb(255,255,255);
  border: 2px solid #333;
  border-radius: 15px;
  overflow:scroll;
}

.article {
  min-height: 300px;
  margin: 0 auto 50px auto;
  padding: 25px;
  color: rgb(125,125,125);
  color: #333;
  background-color: rgb(245,245,245);
  border: 2px solid rgb(150,150,150);
  border-radius: 25px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.25);
}

.text-white-3d {
  margin-bottom: 25px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(150,150,150,0.75);
  font-size: 40px;
  font-family: Montserrat;
  color: #FFF;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow:
  0 1px 0 hsl(174,5%,86%),
  0 2px 0 hsl(174,5%, 84%),
  0 3px 0 hsl(174,5%, 82%),
  0 4px 0 hsl(174,5%, 80%),
  0 5px 0 hsl(174,5%, 78%),
  0 6px 0 hsl(174,5%, 76%),
  0 7px 0 hsl(174,5%, 74%),
  0 8px 0 hsl(174,5%, 72%),
  0 9px 0 rgba(140,140,140,0.5),
  /* shadows */
  0px 10px 2px  rgba(16, 16, 16, 0.2),
  0px 12px 4px  rgba(16, 16, 16, 0.2);
}

@media (max-width: 400px) { .text-white-3d { font-size: 32px; }}

.child-mb-1 > * { margin-bottom: 0.25rem !important; }
.child-mb-2 > * { margin-bottom: 0.5rem !important;  }
.child-mb-3 > * { margin-bottom: 1rem !important;    }
.child-mb-4 > * { margin-bottom: 1.5rem !important;  }
.child-mb-5 > * { margin-bottom: 3rem !important;    }

.font-montserrat {
  font-family: Montserrat;
}

.w-90 { width: 90% !important; }

.flex-1 { flex: 1; }


/* =============================================================================
                            Horizontal Ruler
============================================================================= */


.horizontal-ruler {
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 50%;
  // This avoids using margin: 50px auto, which would cause the horizontal ruler to 
  // compress if placed directly within a flex container with column orientation.
  transform: translateX(-50%);
  max-width: 1000px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-top: 1px solid rgb(150,150,150);
}

.horizontal-ruler > hr {
  position: relative;
  top: -12px;
  width: 10px;
  left: 0;
  background-color: rgb(150,150,150);
  transform-origin: 0% 0%;
  opacity: 1;           /* Overwrite Bootstrap. */
  /* overflow: visible; /* Overwrite Chrome */
}

.horizontal-ruler hr:nth-child(1) { transform: rotate(90deg); }
.horizontal-ruler hr:nth-child(2) { transform: rotate(90deg); }
.horizontal-ruler hr:nth-child(3) { transform: rotate(90deg); }
.horizontal-ruler hr:nth-child(4) { transform: rotate(90deg); }
.horizontal-ruler hr:nth-child(5) {
  width: 15px;
  margin-right: -5px;
  transform: rotate(90deg);
}

.horizontal-ruler hr:nth-child(6) { transform: rotate(90deg); }
.horizontal-ruler hr:nth-child(7) { transform: rotate(90deg); }
.horizontal-ruler hr:nth-child(8) { transform: rotate(90deg); }
.horizontal-ruler hr:nth-child(9) { transform: rotate(90deg); }
.horizontal-ruler hr:nth-child(10) {
  width: 25px;
  margin-right: -15px;
  transform: rotate(90deg);
}

.horizontal-ruler hr:nth-child(11) { transform: rotate(90deg); }
.horizontal-ruler hr:nth-child(12) { transform: rotate(90deg); }
.horizontal-ruler hr:nth-child(13) { transform: rotate(90deg); }
.horizontal-ruler hr:nth-child(14) { transform: rotate(90deg); }
.horizontal-ruler hr:nth-child(15) {
  width: 15px;
  margin-right: -5px;
  transform: rotate(90deg);
}

.horizontal-ruler hr:nth-child(16) { transform: rotate(90deg); }
.horizontal-ruler hr:nth-child(17) { transform: rotate(90deg); }
.horizontal-ruler hr:nth-child(18) { transform: rotate(90deg); }
.horizontal-ruler hr:nth-child(19) { transform: rotate(90deg); }
.horizontal-ruler hr:nth-child(20) {
  width: 40px;
  margin-right: -30px;
  transform: rotate(90deg);
}

.horizontal-ruler hr:nth-child(21) { transform: rotate(90deg); }
.horizontal-ruler hr:nth-child(22) { transform: rotate(90deg); }
.horizontal-ruler hr:nth-child(23) { transform: rotate(90deg); }
.horizontal-ruler hr:nth-child(24) { transform: rotate(90deg); }
.horizontal-ruler hr:nth-child(25) {
  width: 15px;
  margin-right: -5px;
  transform: rotate(90deg);
}

.horizontal-ruler hr:nth-child(26) { transform: rotate(90deg); }
.horizontal-ruler hr:nth-child(27) { transform: rotate(90deg); }
.horizontal-ruler hr:nth-child(28) { transform: rotate(90deg); }
.horizontal-ruler hr:nth-child(29) { transform: rotate(90deg); }
.horizontal-ruler hr:nth-child(30) {
  width: 25px;
  margin-right: -15px;
  transform: rotate(90deg);
}

.horizontal-ruler hr:nth-child(31) { transform: rotate(90deg); }
.horizontal-ruler hr:nth-child(32) { transform: rotate(90deg); }
.horizontal-ruler hr:nth-child(33) { transform: rotate(90deg); }
.horizontal-ruler hr:nth-child(34) { transform: rotate(90deg); }
.horizontal-ruler hr:nth-child(35) {
  width: 15px;
  margin-right: -5px;
  transform: rotate(90deg);
}

.horizontal-ruler hr:nth-child(36) { transform: rotate(90deg); }
.horizontal-ruler hr:nth-child(37) { transform: rotate(90deg); }
.horizontal-ruler hr:nth-child(38) { transform: rotate(90deg); }
.horizontal-ruler hr:nth-child(39) {
  transform: rotate(90deg);
}

.horizontal-ruler hr:last-child { margin-right: -10px; } /* This assumes that the final line has width: 10px; */

@media (max-width: 575px) {
  .horizontal-ruler hr:nth-child(2),
  .horizontal-ruler hr:nth-child(3),
  .horizontal-ruler hr:nth-child(4),
  .horizontal-ruler hr:nth-child(5),
  .horizontal-ruler hr:nth-child(6),
  .horizontal-ruler hr:nth-child(34),
  .horizontal-ruler hr:nth-child(35),
  .horizontal-ruler hr:nth-child(36),
  .horizontal-ruler hr:nth-child(37),
  .horizontal-ruler hr:nth-child(38) {
    display:none;
  }
}

@media (max-width: 450px) {
  .horizontal-ruler hr:nth-child(15),
  .horizontal-ruler hr:nth-child(16),
  .horizontal-ruler hr:nth-child(17),
  .horizontal-ruler hr:nth-child(18),
  .horizontal-ruler hr:nth-child(19),
  .horizontal-ruler hr:nth-child(21),
  .horizontal-ruler hr:nth-child(22),
  .horizontal-ruler hr:nth-child(23),
  .horizontal-ruler hr:nth-child(24),
  .horizontal-ruler hr:nth-child(25) {
    display:none;
  }

  .horizontal-ruler hr:nth-child(10){
    width: 15px;
    margin-right: -5px;
    transform: rotate(90deg);
  }

  .horizontal-ruler hr:nth-child(20){
    width: 25px;
    margin-right: -15px;
    transform: rotate(90deg);
  }

  .horizontal-ruler hr:nth-child(30){
    width: 15px;
    margin-right: -5px;
    transform: rotate(90deg);
  }
}

@media (max-width: 400px) {
  .horizontal-ruler {
    margin: 50px auto;
    max-width: 300px;
  }

  .horizontal-ruler hr:nth-child(7),
  .horizontal-ruler hr:nth-child(8),
  .horizontal-ruler hr:nth-child(11),
  .horizontal-ruler hr:nth-child(12),
  .horizontal-ruler hr:nth-child(26),
  .horizontal-ruler hr:nth-child(27),
  .horizontal-ruler hr:nth-child(30),
  .horizontal-ruler hr:nth-child(31) {
    display: none;
  }
}

.horizontal-ruler.red {
  border-top: 1px solid $radical-red;
}

.horizontal-ruler.red > hr {
  background-color: $radical-red;
}


/* =============================================================================
                            Polygon Container
============================================================================= */


.polygon-container-outer {
  --text-color: #333;
  --background-color:  rgb(245,245,245);
  --border-color:      rgb(150,150,150);
  display: flex;
  position: relative;
  min-height: 300px;
  margin: 0 auto 75px auto;
  filter: drop-shadow(0px 6px 6px rgba(0,0,0,0.25));
}

/* Add borders to edges. */
.polygon-container-outer:before,
.polygon-container-outer:after {
 content: "";
 display: block;
 position: absolute;
 width: 106px;
 height: 2px;
 background: var(--border-color);
 border-radius: 2px;
 -webkit-transform: rotate(45deg);
 transform: rotate(45deg);
 z-index: 1;
}

.polygon-container-outer:before {
 right: -15px;
 top: 37px;
}

.polygon-container-outer:after {
 left: -15px;
 bottom: 37px;
}


/* =======================

======================= */


.polygon-container-inner {
  flex: 1;
  //! I just added this to fix an issue whereby long pre/code examples
  //! actually push the container out. However, the container itself is just
  //! glitchy overall. It seems to have to do more with the
  //! <pre><code>{``}</code></pre> content when used in React, which is strange.
  width: 100%; 
  padding: 30px 50px 50px 50px;
  color: var(--text-color);
  background: var(--background-color);
  border: 2px solid var(--border-color);
  border-top-left-radius: 25px;
  clip-path: polygon(
    0%                0%,
    calc(100% - 75px) 0,
    100%              75px,
    100%              100%,
    calc(0% + 75px)   100%,
    0%                calc(100% - 75px)
  );
}

@media (max-width: 450px) {
  .polygon-container-inner {
    padding: 30px 30px 50px 30px;
  }
}


/* =======================

======================= */


.polygon-container-bottom {
  position: absolute;
  right: 0px;
  bottom: -48px;
  width: 50%;
  height: 50px;
  pointer-events: none;
  background: var(--background-color);
  border-bottom: 2px solid var(--border-color);
  border-right: 2px solid var(--border-color);
  border-bottom-right-radius: 25px;
  clip-path: polygon(
    0               0,
    100%            0,
    100%            100%,
    calc(0% + 50px) 100%,
    0               calc(100% - 50px)
  );
}

.polygon-container-bottom:before {
	 content: "";
   display: block;
	 position: absolute;
   left: -75px;
   bottom: 50px;
	 width: 146px;
   height: 2px;
	 background: var(--border-color);
   border-radius: 2px;
	 -webkit-transform: rotate(45deg);
	 transform: rotate(45deg);
   z-index: 10;
}


/* =========================

========================= */


.todos-list li:hover {
  box-shadow: 0 0 0 1px var(--bs-pink);
}

.custom-link {
  flex: 1;
  cursor: pointer;
  text-decoration: none;
  color: var(--bs-gray);
  font-weight: bold;
}

.custom-link:hover, 
.custom-link:active {
  text-decoration: none;
  color: var(--bs-pink);
}


/* =========================

========================= */
// Bootstrap dropdown overwrites.
// This is just  a few quick hacks.

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: 400;
  color: var(--bs-blue);
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item:hover, .dropdown-item:focus {
  color: var(--bs-blue);
  background-color: #e9ecef;
}

.dropdown-item.active, .dropdown-item:active {
  color: #FFF;
  text-decoration: none;
  background-color: var(--bs-blue);
}

// ...

.dropdown-menu-dark .dropdown-item.active, .dropdown-menu-dark .dropdown-item:active {
  color: #FFF;
  background-color: var(--bs-blue);
}

// ...


  
/* =============================================================================
                                Media Queries
============================================================================= */


/* sm */
@media (min-width: 576px) {}

/* md */
@media (min-width: 768px) {}

/* lg */
@media (min-width: 992px) {}

/* xl */
@media (min-width: 1200px) {}

/* xxl */
@media (min-width: 1400px) { main > .container-fluid { max-width: 1400px; }}